<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.mapper.OutboundItemMapper">

    <insert id="insert" parameterType="OutboundItem">
        INSERT INTO outbound_item (outbound_id, inbound_id, quantity)
        VALUES (#{outboundId}, #{inboundId}, #{quantity})
    </insert>

    <select id="findByOutboundId" resultType="OutboundItem">
        SELECT oi.item_id,
               oi.outbound_id,
               oi.inbound_id,
               oi.quantity,
               oi.created_at,
               i.production_date,
               i.package_unit_kg,
               i.size_um
          FROM outbound_item oi
          JOIN inbound i ON oi.inbound_id = i.inbound_id
         WHERE oi.outbound_id = #{outboundId}
         ORDER BY oi.item_id
    </select>

</mapper>
